// Overwrite default Bootstrap colors
$dark: #15202b;
$light: #192734;
$primary: #0092e3;
$secondary: #8899A6;

// Import Bootstrap
@import '~bootstrap/scss/bootstrap';

// Ensure app stretches full viewport height
.app-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

// Ensure main content fills up the viewport between header and footer
main {
  flex: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.1rem;
  }
}